* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

body {
  background: #674baf url("./img/bg-desktop.svg") no-repeat;
  background-size: 170vh;
}

nav img {
  padding: 40px 80px;
}

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tab {
  background-color: #fff;
  max-width: 900px;
  border-radius: 20px;
}

.tab nav {
  background-color: #000;
  color: #fff;
  padding: 20px 40px;
  border-radius: 20px 20px 0 0;
}

.content > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 20px;
}

.content > div > div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content > div > div > * {
  padding: 0 50px;
}

.content > div > div:first-of-type {
  flex-direction: column;
}

.content > div > div ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-top: 1.5rem;
}

.content > div > div ul li {
  padding: 0 3px;
  color: #808080;
}

.content > div:first-of-type ul li:nth-child(1),
.content > div:first-of-type ul li:nth-child(2),
.content > div:first-of-type ul li:nth-child(3) {
  color: red;
}

.content > div:nth-child(2) ul li:nth-child(1),
.content > div:nth-child(2) ul li:nth-child(2),
.content > div:nth-child(2) ul li:nth-child(3),
.content > div:nth-child(2) ul li:nth-child(4) {
  color: red;
}

.content > div:last-of-type ul li:nth-child(1),
.content > div:last-of-type ul li:nth-child(2) {
  color: red;
}

.content span {
  font-size: 7rem;
}

.content > div:first-child span {
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content > div:nth-child(2) span {
  background: linear-gradient(to right, #524ffa 0%, #cf23cf 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.content > div:last-child span {
  background: linear-gradient(to right, #ffa970 0%, #cf23cf 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.content h1 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
